!!!
%html
  %head
    %title
      = @title.blank? ? "" : "#{@title} -"
      = site_title_helper
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body{ :class => body_css_classes }
    #wrapper
      %header
        = render :partial => 'layouts/header'
      #content
        = render :partial => 'layouts/flash', :locals => { :flash => flash }
        = yield
      #push-footer-down
    %footer
      = render :partial =>'layouts/footer'
    #load_javascripts
      = javascript_include_tag "application"
